<div id="container"> 

	<img src="../assets/me.jpg" alt = this is a kitten>

	<div id="content">
		<h1>Hi, I'm Alyssa</h1>
		<p>
			I like to create and build. I like building products, organizations, friendships, and change. I'm from San Francisco - born and raised in our fair city by the bay. I <a href="http://www.kontagent.com/"> work</a> and <A HREF="https://maps.google.com/maps?q=duboce+triangle&ie=UTF-8&hq=&hnear=0x808f7e1dd3d55b73:0x711a5eba2b5e2c64,Duboce+Triangle,+San+Francisco,+CA&gl=us&ei=KtBRUujZD4GriAKD1oDQBw&ved=0CKUBELYD"> live</A> here now too. I love to travel, <a href="http://www.lightstalkers.org/images/show/125253"> take pictures</a>, and grow ideas. Professionally, I'm a budding product gal, working the the start-up world. I'm learning to code. 
		</p>
		<div id="skills">
			<h2>My Skills</h2>
		</div>
	</div>
</div>